body {
  all: unset;
}
a {
  text-decoration: none;
}
a.router-link-exact-active {
  text-decoration: underline;
}
a:hover {
  /* color: #42b883; */
  color: bisque;
  text-decoration: underline;
}
/* Router Transition */
.page-enter-active {
  transition: all 2s ease;
}
.page-leave-active {
  transition: all 0s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter, .page-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
